page-login {
    form {
        margin-buttom: 32px;
        button {
            margin-top: 20px;
        }
    }

    p {
        font-size: 0.8em;
        color: #d2d2d2;
    }

    ion-label {
        margin-left: 5px;
    }

    ion-input {
        padding: 5px;
    }

    .img-logo {
        display: block;
        margin: auto;
    }

    .invalid {
        border-buttom: 1px solid #FF6153;
    }

    .error-message .item-inner {
        border-buttom: 0 !important;
    }
}
