<ion-header>
  <ion-navbar>
    <ion-title>
      Home Page
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToProfile()">
        <ion-icon name="person"></ion-icon>
      </button>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>{{(datas | async)?.zoomLevel}}</p>
  <!--<ul>
    <li *ngFor="let data of datas | async">
      {{data | json}}
    </li>
  </ul>-->
</ion-content>
