<ion-header>

  <ion-navbar color="primary">
    <ion-title>Reset your password</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <img  class="img-logo" src="http://placehold.it/300x100" alt="img-logo">

  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
        placeholder="Your email address"
        [class.invalid]="!resetPasswordForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!resetPasswordForm.controls.email.valid && (emailChanged || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>

    <button ion-button block type="submit">
      Reset your password
    </button>

  </form>

</ion-content>
